body {
      background-color: #009FEC;
      padding-bottom: 400px;
      padding-top: 5px;
     }
table {
       border: 2px solid #EF3028;
       background-color: #FB8215;
       width: 60%;
       border-radius: 25px;
      }
th, td {
        border-collapse: collapse;
        background-color: #FB8215;
        color:  #004d99;
        text-align: center;
        border-radius: 25px;
       }
.titleheading {
               margin-top: 6px;
               margin-bottom: 0px;
               font-family: 'Limelight', cursive;
               font-size: 250%;
               text-border: 2px solid;
              }
.notop {
        margin-top: 0px;
       }
.pagetext {
           font-family: 'Saira Semi Condensed', sans-serif;
           text-align: left;
           font-size: 120%;
           line-height: 150%;
          }
.firstpagetext {
                font-family: 'Saira Semi Condensed', sans-serif;
                text-align: left;
                font-size: 120%;
                line-height: 150%;
               }
.quotetext {
           font-family: 'Saira Semi Condensed', sans-serif;
           text-align: left;
           font-size: 100%;
           line-height: 125%;
           color: mediumblue;
          }
.quotetextalt {
               font-family: 'Saira Semi Condensed', sans-serif;
               text-align: right;
               font-size: 110%;
               line-height: 125%;
              }
.review {
         font-family: 'Saira Semi Condensed', sans-serif;
         text-align: left;
         font-size: 125%;
         line-height: 125%;
                            }
.abouttext {
            font-family: 'Saira Semi Condensed', sans-serif;
            text-align: left;
            font-size: 100%;
            line-height: 140%;
           }
.container {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 25px;
           }
.imagesize {
             position: relative;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             margin-bottom: 0px;
             border-radius: 25px;
            }
.bordered {
           border: 2px dashed #004d99;
          }
p         {
           margin-left: 5px;
           margin-right: 5px;
           margin-top: 5px;
           margin-bottom: 5px;
          }
.picturebreak {
               position: relative;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               margin-bottom: -4px;
               border-radius: 25px;
              }
.button {
         font-family: 'Montserrat', sans-serif;
         font-weight: bold;
         text-decoration: none;
         background-color: #EF3028;
         color: #333333;
         padding: 8px;
         border: 1px;
         border-style: outset;
         margin-left: -2px;
         margin-right: -2px;
         align: center;
         border-color: #EF3028;
        }
.button:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #FB8215;
  border-color: #FB8215;
  color: #333333;
  padding: 8px;
  border: 1px;
  border-style: inset;
}
td:hover {
         text-decoration:underline;
         border-color: #EF3028;
    		}
em {
    border: 2px dashed #EF3028;
   }
.pagetext::first-letter {
                         color: black;
                         font-size: 130%;
                        }
p:hover {
         color: black;
        }
quote:hover {
             color: snow;
            }
nav {
     width: 95.5%;
     line-height: 30px;
    }
nav ul {
        font-size: 110%;
        font-weight: bold;
       }
nav li {
           list-style-type: none;
           display: inline-block;
          }
nav a {
       text-transform: uppercase;
      }
.navth {
        border-collapse: collapse;
        background-color: #009FEC;
        color:  #004d99;
        text-align: center;
        border-radius: 25px;
       }
.bolder {
         font-size: 120%;
         color: purple;
        }
.bolder:hover {
               text-decoration: underline;
              }
